<main>
    <section class="container__hero">
       <div class="container__main">
            <h1 class="main--titulo">Sobre o  projeto</h1>
            <p class="main--p">Seja bem-vindo ao portal dedicado à celebração dos 50 anos do Curso de Arquitetura e Urbanismo da Universidade Fedaral do Rio Grande do Norte (CAU-UFRN). O MemoriAU é um espaço para mergulhar na rica trajetória do curso. Uma celebração do passado, mas que serve também de inspiração para o nosso futuro.</p>
       </div>
       <div class="container__main">
            <h1 class="main--titulo">Um pouco da história do CAU UFRN</h1>
            <p class="main--p">A inserção da Arquitetura e Urbanismo na Universidade Federal do Rio Grande do Norte (UFRN) se deu no início da década de 1970, através da Resolução CONSUNI-58/73 de 13 de agosto 1973, onde o CAU surgia dentro da antiga Escola de Engenharia da UFRN. 
                O CAU teve suas atividades iniciadas em 1974 com a realização do seu primeiro vestibular. Quatro anos após, em 18 de maio de 1977, foi desmembrado do Departamento de Engenharia Civil, e incorporado ao recém-criado Departamento de Arquitetura, passando a fazer parte da estrutura administrativa do Centro de Tecnologia. Em 28 de fevereiro de 1979 o Curso foi reconhecido pelo MEC através do Decreto Lei n° 83208.</p>
       </div>


       <div class="retangulo__curriculo">
            <div class="curriculo--titulo">
                <h1>Currículos anteriores</h1>
                <div id="button-container">
                    <button id="A1">
                        <h1>A1</h1>
                    </button>
                    <button id="A2">
                        <h1>A2</h1>
                    </button>
                    <button id="A3">
                        <h1>A3</h1>
                    </button>
                    <button id="A4">
                        <h1>A4</h1>
                    </button>
                    <button id="A5">
                        <h1>A5</h1>
                    </button>
                  </div>
                  <div id="square-container"></div>
            </div>
            <div class="curriculo--titulo">
                <h1>Currículo Atual</h1>
                    <div id="button-container">
                        <button id="A6" style="background-color: azure;">
                            <h1 style="color: brown;">A6</h1>
                        </button>
                    </div>
            </div>
       </div>

       <section class="section__info">
        <div class="info--p1">
            <h1>Destaque Nacional</h1>
            <p>Entre 2018 e 2020, ocorreu uma Chamada Pública para os 378 cursos de Arquitetura e Urbanismo, cadastrados no SICACAU, a participarem voluntariamente do Projeto Piloto de Acreditação de Cursos, desenvolvido pelo CAU/BR, em parceria com o CAU/SP. Desses, 34 manifestaram interesse e 19 se qualificaram. Após análise de critérios regionais e institucionais, seis cursos foram selecionados para as fases seguintes, e apenas 3 instituições receberam certificação, dentre elas o Curso de Arquitetura e Urbanismo da Universidade Federal do Rio Grande do Norte (UFRN). A avaliação considerou aspectos institucionais, pedagógicos, corpo docente, recursos materiais e técnicos.</p>
        </div>
        <div class="info--p2">
            <h1>Destaque Nacional</h1>
            <p> É importante destacar que o curso foi avaliado internacionalmente e acreditado pelo Sistema ARCU-SUR em 2014, participando então como a única instituição pública brasileira do Projeto Fortalecimiento de Redes Regionales de Facultades de Arquitectura: Construcción de una agenda Regional de modelos pedagógicos innovativos en la enseñanza del Proyecto Arquitectónico, coordenado pela Universidad Nacional de Cordoba. Em 2020, o curso recebeu o certificado de Acreditação do Conselho de Arquitetos do Brasil, que atesta a excelência no ensino e formação de arquitetos e urbanistas. No mesmo ano, obteve a nota máxima no ENADE, figurando entre os cinco melhores cursos do país.</p>
        </div>
        <div class="info--p3">
            <h1>Certificado de acreditação acadêmica Arcu-Sul</h1>
            <p>Ao longo de anos, em todas as avaliações nacionais, o Curso de Arquitetura e Urbanismo (CAU) da UFRN tem se colocado entre os primeiros mais bem avaliados do país, desde o Provão até o ENADE e em 2014, ocupou o primeiro lugar no Brasil dentre todos os Cursos de Arquitetura e Urbanismo avaliados pelo MEC. Também é considerado um dos pioneiros na integração de seus conteúdos, possibilitando uma formação de profissionais preparados para os desafios contemporâneos da arquitetura e urbanismo.</p>
        </div>
        <div class="info--p4">
            <h1>A pós graduação</h1>
            <p>A Pós-Graduação também tem um grande destaque. Em 1998 entrou em funcionamento o Programa de Pós-Graduação em Arquitetura e Urbanismo (PPGAU), com a edição do Curso de Especialização em Arquitetura e Urbanismo: Estudos do Habitat com Ênfase na Questão Ambiental. 
                No ano de 2000, com base nessa experiência, foi iniciado o Mestrado em Arquitetura e Urbanismo e, em 2007, o Doutorado. Em agosto de 2010, o Mestrado Profissional em Arquitetura, Projeto e Meio Ambiente iniciou suas atividades, sendo o primeiro do Brasil reconhecido pela CAPES na área.</p>
        </div>

       </section>
       <section class="section__video"></section>
       <section class="section__creditos">
        <div>
            <h1 class="creditos__titulo" >Créditos</h1>
        </div>
        <div>
            <h1 class="creditos--h">Coordenadora</h1>
            <p class="creditos--p">Glauce Lilian Alves de Albuquerque</p>
        </div>
        <div>
            <h1 class="creditos--h">Coordenadora Adjunta</h1>
            <p class="creditos--p">Marina Medeiros Cortes</p>
        </div>
        <div>
            <h1 class="creditos--h">Docentes Colaboradores</h1>
            <p class="creditos--p">Clara Ovídio De Medeiros Rodrigues</p>
            <p class="creditos--p">Jesonias Da Silva Oliveira</p>
            <p class="creditos--p">Marizo Vitor Pereira</p>
        </div>
        <div>
            <h1 class="creditos--h">Desenvolvedor Front-end</h1>
            <p class="creditos--p">Anderson Pedro do Nascimento</p>
        </div>
        <div>
            <h1 class="creditos--h">Design de interface</h1>
            <p class="creditos--p">Carolina Câmara Dias de Sousa</p>
            <p class="creditos--p">Marcela Celani Silva</p>
        </div>
       </section>
    </section>
</main>