<footer class="footer">
    <div class="footer-container">

    <section class="footer-logo">
            <img src="assets/images/logoAU.png" alt="logoAU" class="logo-au"/>
    </section>

    <section class="       ">
            <img src="assets/images/logoUFRN.png" alt="Logo UFRN" class="logo-ufrn">
            <img src="assets/images/logoDARQ.png" alt="Logo PPG-AU" class="logo-ppgau">
            <img src="assets/images/logoPPGAU.png" alt="Logo PPGAU" class="logo-ppgau">
            <img src="assets/images/logoPPAPMA.png" alt="Logo PPAPMA" class="logo-ppapma">
    </section>

    <section>
        <nav class="footer-nav">
            <div>
                <h3>Quem somos</h3>
                <ul>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Dados do curso</a></li>
                </ul>
            </div>
            <div>
                <h3>História</h3>
                <ul>
                    <li><a href="#">Linha do tempo</a></li>
                    <li><a href="#">Depoimentos</a></li>
                    <li><a href="#">Faça parte</a></li>
                </ul>
            </div>
            
            <div>
                <h3>Vida acadêmica</h3>
                <ul>
                    <li><a href="#">Laboratórios</a></li>
                    <li><a href="#">Grupos de pesquisa</a></li>
                    <li><a href="#">Eventos</a></li>
                </ul>
            </div>
        </nav>

        
        <!-- Seção de contatos -->
        <address class="contact-info">
            <p><img src="assets/icons/endereco.png" alt="endereco" class="icons"> UFRN, Campus I, R. da Tecnoliga, Lagoa Nova, Natal - RN</p>
            <p><img src="assets/icons/email.png" alt="email" class="icons"> multimmeios.ufrn&#64;gmail.com</p>
            <p><img src="assets/icons/telefone.png" alt="telefone" class="icons"> (84)3215-3721</p>
        </address>

    </section>

        <!-- Seção de redes sociais  -->
    <section class="footer-social">
        <p>Acesse nossas redes sociais:</p>
        <ul class="social-links">
            <li><a href="#"><img src="" alt=""></a></li>
            <li><a href="#"><img src="" alt=""></a></li>
            <li><a href="#"><img src="" alt=""></a></li>
        </ul>
    </section>

        <!-- Seção de copyright -->
    <section class="footer-copyright">
        <p>© 2024 AU 50 anos. Todos os direitos reservados.</p>
    </section>
    </div>
</footer>

