$azul-escuro: #143F71;
$backgroundColorRodape: #FFFFFF;

.footer {
    width: 100vw;
    margin: 0;
    padding: 0;
}

.footer__container {
    border: 2px solid blue;
    margin: 0px;
    padding: 0px;
    gap: 8px;
    width: 100vw;
    

    display: grid;
    grid-template-columns: minmax(400px, 3fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: 200px ;
    grid-template-areas: 
    "logo quem-somos historia vida-academica" 
    "linha-traste linha-traste linha-traste linha-traste" 
    "item";
}

.footer__logos{
    background-color: green;
}

.footer__nav {
    background-color: green;
    
}
.footer_logos {
    background-color: green;
}

.footer__nav--quemSomos{
    background-color: green;
    
}

.footer__nav--historia{
    background-color: green;
    
}

.footer__nav--vidaAcademica{
    background-color: green;
}

.footer__nav--linha{
    background-color: green;
}



// .footer-content {
//     display: flex;
//     background-color: $backgroundColorRodape;
//     padding: 20px 0;
//     position: relative;
//     flex-grow: 1;
// }

// .footer-container {
//     position: relative;
    
// }


// .footer-logo {
//     // position: relative;
//     left: 78px;
//     top: 35px;
//     display: flex;
//     flex-direction: column;
    
// }

// .logo-au {
//     width: 150px;
//     height: auto;
//     margin: 15px;
// }
   
// .footer-instituicoes {
//     display: flex;
//     position: relative;
//     left: 99px;
//     top: 171px;
// }

// .contact-info {
//     position: relative;
//     left: 86px;
//     top: 250px;
// }


// .footer-nav {
//     font-family: "Montserrat", sans-serif;
//     justify-content: space-between;
//     flex-basis: 35%;
//     gap: 30px;
//     width: 120px;
//     height: 26px;
//     left: 773px;
//     font-size: 17px;
//     text-decoration: none;
//     white-space: nowrap;
    
// }   

// .font-titulo {
//     color: $azul-escuro;
//     font-weight: 500;
//     margin-bottom: 10px;
//     margin-top: 10px;
// }

// .list-unstyled li a {
//     font-size: 13px;
//     color: #777;

// }

// .footer-social {
//     position: absolute;
//     right: 75px;
//     bottom: 35px;
//     text-align: right;
//     p {
//         font-size: 16px;
//         margin-bottom: 10px;
//     }
//     .social-links {
//         display: flex;
//         justify-content: flex-end;
//         list-style: none;
//         padding: 0;

//         li {
//             margin-left: 10px;

//             a img {
//                 width: 24px;
//                 height: auto;
//             }
//         }
//     }
// }

// .footer-copyright {
//     display: flex;
//     text-align: center;
//     font-size: 0.9rem;
//     margin-top: 20px;
//     color: #777;
// }