<footer class="site-footer">
    <section class="footer-logo">
            <img src="assets/images/logoAU.png" alt="logoAU"/>
    </section>

    <section class="footer-links">
        <div class="institution-logos">
            <img src="assets/images/logoUFRN.png" alt="Logo UFRN">
            <img src="assets/images/logoDARQ.png" alt="Logo PPG-AU">
            <img src="assets/images/logoPPGAU.png" alt="Logo PPGAU">
            <img src="assets/images/logoPPAPMA.png" alt="Logo PPAPMA">
        </div>

        <nav class="footer-nav">
            <ul>
                <li><a href="">Quem somos</a></li>
                <li><a href="">História</a></li>
                <li><a href="">Vida Acadêmica</a></li>
            </ul>
        </nav>

        <section class="contact-info">
            <p><strong>Endereço:</strong> UFRN, Campus I, R. da Tecnoliga, Lagoa Nova, Natal - RN</p>
            <p><strong>Email:</strong>multimmeios.ufrn&#64;gmail.com</p>
            <p><strong>Telefone:</strong> (84)3215-3721</p>
        </section>
    </section>

    <section class="social-media">
        <ul>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
    </section>

    <section class="footer-copyright">
        <p>© 2024 AU 50 anos. Todos os direitos reservados.</p>
    </section>
</footer>

