<footer class="footer">
    <div class="footer__container">
        <div class="footer__logos">
            <img src="assets/images/logoAU.png" alt="logoAU" class="footer__logo__au"/>
                <div>
                    <a href="https://www.ufrn.br/" class="footer__link__ufrn"><img src="assets/images/logoUFRN.png" alt="Logo UFRN"></a>
                    <img src="assets/images/logoDARQ.png" alt="Logo PPG-AU" class="footer__logo__darq">
                    <img src="assets/images/logoPPGAU.png" alt="Logo PPGAU" class="footer__logo__ppgau">
                    <img src="assets/images/logoPPAPMA.png" alt="Logo PPAPMA" class="footer__logo__ppapma">
                </div>
                
        </div>
        <div class="footer__nav--quemSomos">
            <ul>
                <h3 class="footer__nav__title">Quem somos</h3>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Dados do curso</a></li>
            </ul>
        </div>
        <div class="footer__nav--historia">
            <ul>
                <h3 class="footer__nav__title">História</h3>
                <li><a href="#">Linha do tempo</a></li>
                <li><a href="#">Depoimentos</a></li>
                <li><a href="#">Faça parte</a></li>
            </ul>
        </div>
        <div class="footer__nav--vidaAcademica">
            <ul>
                <h3 class="footer__nav__title">Vida acadêmica</h3>
                <li><a href="#">Laboratórios</a></li>
                <li><a href="#">Grupos e bases de pesquisa</a></li>
                <li><a href="#">EMAU, APAU e Edifique</a></li>
                <li><a href="#">Eventos</a></li>
                <li><a href="#">Premiações</a></li>
            </ul>
        </div>
        
        <div class="footer__nav--linha">
            <img src="assets/images/linhaTraste.svg" alt="linhaTraste" class="footer__img__linha">
        </div>
        <div class="footer__nav">
            <p>item-6</p>
        </div>
    </div>








    <!-- <div class="footer-content row m-5">
        <div class="footer-logo col-md-6 col-sm-12">
            <img src="assets/images/logoAU.png" alt="logoAU" class="logo-au"/>
            <div id="footer-instituicoes">
                <a href="https://www.ufrn.br/" class="footer-link"></a>
                <img src="assets/images/logoUFRN.png" alt="Logo UFRN" class="logo-ufrn">
                <img src="assets/images/logoDARQ.png" alt="Logo PPG-AU" class="logo-ppgau">
                <img src="assets/images/logoPPGAU.png" alt="Logo PPGAU" class="logo-ppgau">
                <img src="assets/images/logoPPAPMA.png" alt="Logo PPAPMA" class="logo-ppapma">
            </div>
        </div>

    <div class="footer-nav col-md-6 col-sm-12 ml-3">
            <div class="row">
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <h3 class="font-titulo">Quem somos</h3>
                        <li><a href="#" class="text-decoration-none">Sobre</a></li>
                        <li><a href="#" class="text-decoration-none">Dados do curso</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <h3 class="font-titulo">História</h3>
                        <li><a href="#" class="text-decoration-none">Linha do tempo</a></li>
                        <li><a href="#" class="text-decoration-none">Depoimentos</a></li>
                        <li><a href="#" class="text-decoration-none">Faça parte</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <h3 class="font-titulo">Vida acadêmica</h3>
                        <li><a href="#" class="text-decoration-none">Laboratórios</a></li>
                        <li><a href="#" class="text-decoration-none">Grupos e bases de pesquisa</a></li>
                        <li><a href="#" class="text-decoration-none">EMAU, APAU e Edifique</a></li>
                        <li><a href="#" class="text-decoration-none">Eventos</a></li>
                        <li><a href="#" class="text-decoration-none">Premiações</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>


    
    <div class="row m-5">
        <div class="col-md-6 col-sm-12 ml-3">
            <address>
                <p><img src="assets/icons/endereco.png" alt="endereco" class="icons"> UFRN, Campus I, R. da Tecnoliga, Lagoa Nova, Natal - RN</p>
                <p><img src="assets/icons/email.png" alt="email" class="icons"> multimmeios.ufrn&#64;gmail.com</p>
                <p><img src="assets/icons/telefone.png" alt="telefone" class="icons"> (84)3215-3721</p>
            </address>
        </div>
        
        <div class="col-md-6 col-sm-12 ml-3">
            <section>
                <h3>Acesse nossas redes sociais</h3>
                <div class="row">
                    <div class="col-4">
                        <img src="assets/icons/iconsInstagram.png" alt="icone do instagram">
                        <a href="https://www.instagram.com/ppgau.ufrn?igsh=MXR3dnJkcG9oZjVjcQ==" target="_blank" class="text-decoration-none">&#64;ppgau.ufrn</a><br>
                        <img src="assets/icons/iconsInstagram.png" alt="icone do instagram">
                        <a href="https://www.instagram.com/caauufrn?igsh=MWdsOGF0ZGFvNnlocQ==" target="_blank" class="text-decoration-none">&#64;caauufrn</a>
                    </div>
                    <div class="col-4">
                        <img src="assets/icons/iconsWeb.png" alt="">
                        <a href="http://darq.ufrn.br/" target="_blank">darq.ufrn.br</a><br>
                        <img src="assets/icons/iconsWeb.png" alt="">
                        <a href="https://sigaa.ufrn.br/sigaa/public/curso/portal.jsf?lc=pt_BR&id=2000005" target="_blank">SIGAA.CAU.UFRN</a>
                    </div>
                </div>
                
            </section>
        </div>
    </div>

    <div class="footer-copyright m-5">
        <p>© 2024 AU 50 anos. Todos os direitos reservados.</p>
    </div> -->

</footer>




