$azul-escuro: #143F71;

.site-footer {
    background: #FFFFFF;
    padding: 20px;
   
}

    .footer-nav a {
     color:$azul-escuro;
     width: 120px;
     height: 26px;
     top: 45px;
     left: 773px;
     font-size: 18px;
    }   

.footer-copyright {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 20px;
    color: #777;
}