<main>
    <section class="container__hero">
        <div class="retangulo">
            <div class="container__infoMestrado">
                <div class="infoMestrado--left">
                    <h1 class="infoMestrado--titulo">Mestrado<br> Acadêmico</h1>
                </div>
                <div class="infoMestrado--center">
                    <h2 class="infoMestrado--number">36</h2>
                    <h3 class="infoMestrado--p">Alunos ativos</h3>
                </div>
                <div class="infoMestrado--right">
                    <h2 class="infoMestrado--number">252</h2>
                    <h3 class="infoMestrado--p">Diplomas</h3>
                </div>
            </div>

            <div class="container__infoMestradoProfissional">
                <div class="infoMestradoProfissional--left">
                    <h1 class="infoMestradoProfissional--titulo">Mestrado<br> Profissional</h1>
                </div>
                <div class="infoMestradoProfissional--center">
                    <h2 class="infoMestradoProfissional--number">20</h2>
                    <h3 class="infoMestradoProfissional--p">Alunos ativos</h3>
                </div>
                <div class="infoMestradoProfissional--right">
                    <h2 class="infoMestradoProfissional--number">93</h2>
                    <h3 class="infoMestradoProfissional--p">Diplomas</h3>
                </div>
            </div>
        </div>

        <div class="container__infoDoutorado">
            <div class="infoDoutorado--left">
                <h1 class="infoDoutorado--titulo">Doutorado</h1>
            </div>
            <div class="infoDoutorado--center">
                <h2 class="infoDoutorado--number">73</h2>
                <h3 class="infoDoutorado--p">Alunos ativos</h3>
            </div>
            <div class="infoDoutorado--right">
                <h2 class="infoDoutorado--number">92</h2>
                <h3 class="infoDoutorado--p">Diplomas</h3>
            </div>
        </div>
    </section>
</main>