.container__hero {
    width: 100%;
    height: 100vh;
    background-color: rgba(241, 236, 225, 0.9);
    background-image: url("/../assets/images/setaMainDados.svg");
    background-position: center 15vw;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 10vw;
    
  }

  .retangulo {
    height: 400px;
    background-color: rgba(255, 255, 255, 0.1   ); /* Branco com 50% de opacidade */
    backdrop-filter: blur(12px);
    border-radius: 1px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0 ,0, 0.3);
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #143F7199;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
   
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    position: relative;
    z-index: 2;

  }

  .container__infoMestrado{
    display: flex; /* Usamos flex para alinhar os elementos */
    justify-content: space-between; /* Espaço entre os dois blocos */
    align-items: center; /* Alinha os elementos verticalmente */
    position: relative;
    z-index: 2;
    padding: 20px;
    
  }

  .infoMestrado--titulo{
    font-size: 1.6vw;
    color: rgba(171, 64, 64, 0.9);;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
   
  }

  .infoMestrado--number{
    font-size: 1.6vw;
    color: rgba(171, 64, 64, 0.9);;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    text-align: center;
  }

  .infoMestrado--p{
    font-size: 1.1vw;
    color: rgba(171, 64, 64, 0.9);;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
  }

  .container__infoMestradoProfissional{
    display: flex; /* Usamos flex para alinhar os elementos */
    justify-content: space-between; /* Espaço entre os dois blocos */
    align-items: center; /* Alinha os elementos verticalmente */
    position: relative;
    z-index: 2;
    padding: 20px;
    padding-top: 110px;

  }

  .infoMestradoProfissional--titulo{
    font-size: 1.6vw;
    color: rgba(171, 64, 64, 0.9);;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
   
  }

  .infoMestradoProfissional--number{
    font-size: 1.6vw;
    color: rgba(171, 64, 64, 0.9);;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    text-align: center;
  }

  .infoMestradoProfissional--p{
    font-size: 1.1vw;
    color: rgba(171, 64, 64, 0.9);;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
  }

  .container__infoDoutorado{
    display: flex; /* Usamos flex para alinhar os elementos */
    justify-content: space-evenly; /* Espaço entre os dois blocos */
    align-items: center; /* Alinha os elementos verticalmente */
    position: relative;
    z-index: 2;
    padding: 20px;
    padding-top: 70px;
    
  }

  .infoDoutorado--titulo{
    font-size: 1.6vw;
    color: rgba(171, 64, 64, 0.9);;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
   
  }

  .infoDoutorado--number{
    font-size: 1.6vw;
    color: rgba(171, 64, 64, 0.9);;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    text-align: center;
  }

  .infoDoutorado--p{
    font-size: 1.1vw;
    color: rgba(171, 64, 64, 0.9);;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
  }
  

  @media (max-width: 768px) {
    .container__hero {
        width: 100%;
        height: 80vh;
        background-color: rgba(241, 236, 225, 0.9);
        background-image: url("/../assets/images/setaMainDados.svg");
        background-position: center 63vw;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        padding-top: 10vw;
        
      }

      .retangulo {
        height: 120vw;
        background-color: rgba(255, 255, 255, 0.1   ); /* Branco com 50% de opacidade */
        backdrop-filter: blur(12px);
        border-radius: 1px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0 ,0, 0.3);
        max-width: 600px;
        margin: 20px auto;
        border: 1px solid #143F7199;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
       
        width: 80%;
        max-width: 800px;
        margin: 0 auto;
        text-align: left;
        position: relative;
        z-index: 2;
      }

      .container__infoMestrado{
        flex-direction: column; /* Organiza os elementos em coluna */
        align-items: center;
        padding: 30px 0vw 0;
      }
    
      .infoMestrado--titulo{
        font-size: 4vw;
        text-align: center;
        
      }

      .infoMestrado--number{
        font-size: 5vw;
        text-align: center;
        padding-top: 8vw;
      }

      .infoMestrado--p{
        font-size: 3vw;
        text-align: center;
        
      }

      .container__infoMestradoProfissional{
        flex-direction: column; /* Organiza os elementos em coluna */
        align-items: center;
        padding: 80px 0vw 0;
      }
    
      .infoMestradoProfissional--titulo{
        font-size: 4vw;
        text-align: center;
        
      }

      .infoMestradoProfissional--number{
        font-size: 5vw;
        text-align: center;
        padding-top: 8vw;
      }

      .infoMestradoProfissional--p{
        font-size: 3vw;
        text-align: center;
        
      }

      .container__infoDoutorado{
        flex-direction: column; /* Organiza os elementos em coluna */
        align-items: center;
        padding: 30px 0vw 0;
      }
    
      .infoDoutorado--titulo{
        font-size: 4vw;
        text-align: center;
        
      }

      .infoDoutorado--number{
        font-size: 5vw;
        text-align: center;
        padding-top: 5vw;
      }

      .infoDoutorado--p{
        font-size: 3vw;
        text-align: center;
        
      }
}