<app-header></app-header>
<main>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia laudantium perspiciatis veniam accusantium cupiditate, incidunt deleniti, dolorem perferendis impedit amet excepturi nemo error ex a nisi temporibus consequatur repellat doloribus!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia laudantium perspiciatis veniam accusantium cupiditate, incidunt deleniti, dolorem perferendis impedit amet excepturi nemo error ex a nisi temporibus consequatur repellat doloribus!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia laudantium perspiciatis veniam accusantium cupiditate, incidunt deleniti, dolorem perferendis impedit amet excepturi nemo error ex a nisi temporibus consequatur repellat doloribus!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia laudantium perspiciatis veniam accusantium cupiditate, incidunt deleniti, dolorem perferendis impedit amet excepturi nemo error ex a nisi temporibus consequatur repellat doloribus!
</main>
<app-footer></app-footer>
