<section class="main-timeLine">
    <div class="row">
        <div class="container"> 
            <img src="assets/images/linhaDoTempoInicio.svg" alt="" class="linhaDoTempoInicio">
            <div class="retangulo box has-text centered">
                <p>Seja bem-vindo ao portal dedicado à celebração dos 50 anos do Curso de Arquitetura e Urbanismo da Universidade Federal do Rio Grande do Norte (CAU-UFRN). O MemoriAU é um espaço para mergulhar na rica trajetória do curso. Uma celebração do passado, mas que serve também de inspiração para o nosso futuro.</p>
                <div class="saiba-mais">
                    <a href="#" class="">Saiba mais     </a>  <img src="assets/icons/iconeSaibaMais.svg" alt="Ícone Link saber mais">
                </div>
                
            </div>
        </div>
    
    </div>


    <h1 class="titleText has-text-centered subtitle is-2">Linha do tempo</h1>
    <div class="row">
        <div class="col-md-3 text-end">
            <img src="assets/images/imageHistoricoEscolar.webp" (click)="showModal()" alt="Abrir modal" style="cursor: pointer;">
            
            <div *ngIf="isModalOpen" class="modal-overlay" (click)="closeModal()"></div>
            <div *ngIf="isModalOpen" class="modal">
              <div class="modal-header">
                <h1>Histórico escolar de aluna da primeira turma do CAU-UFRN.</h1>
                <button class="close-button" (click)="closeModal()">
                    <img src="assets/icons/buttonClose.svg" alt="">
                </button>
              </div>
              <div class="modal-body">
                <img src="assets/images/imageHistoricoEscolarGrande.webp" alt="">
              </div>
              <div class="modal-footer">
                <p>Fonte: Virgínia Araújo</p>
              </div>
            </div>
        </div>  
        <div class="col-md-6 timeLine__fundo text">
            <img src="assets/images/linhaDoTempo.svg" alt="" class="linhaDoTempoFull">
        </div>
        <div class="col-md-3 text-start"> 
            <img src="assets\images\imagePlantaCampos.webp" alt="">
            <img src="assets\images\imageColacaoGrau.webp" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <button>
                <img src="assets/images/botaoPadrao.png" alt="">
            </button>
        </div>
        <div class="col-4"></div>

    </div>
    


    <!-- Modal -->
    <!-- <ng-template #modalContent let-modal>
        <div class="modal-header">
          <h1 class="modal-title">Histórico.</h1>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.close()"></button>
        </div>
        <div class="modal-body">
          <img [src]="selectedImage" alt="Expanded Image" class="img-fluid" />
          <p>{{ selectedDescription }}</p>
        </div>
    </ng-template> -->
</section>
