/* Definição de cores */
$textPrimary-color: #B3261E;

.linhaDoTempoInicio{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-timeLine {
    background-color: #F1ECE1;
}

.titleText {
    color: $textPrimary-color;
    font-family: "Sora", sans-serif;
    align-items: center;
    text-align: center;
}

.retangulo {
    background-color: #FFFFFF1A;
    border-radius: 1px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0 ,0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #143F7199;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;

    @media (min-width: 768px) {
        padding: 40px;
    }

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.retangulo p {
    margin: 0 0 10px;
    font-size: 1.2rem;
    line-height: 1.7;
    font-family: 'Sora', sans-serif;
    font-weight: 300;
}

.saiba-mais {
    display: block;
    text-decoration: none;
    margin-top: 10px;
    text-align: right;
    font-family: 'Yantramanav', sans-serif;
}

.saiba-mais:hover {
    text-decoration: underline;
}

.saiba-mais a{
    color: #143F71;
}

.linhaDoTempoFull{
    margin-top: 0px;
}

.timeLine__fundo{
    align-items: center;
    text-align: center;
}

h1 {
    margin-bottom: 0px;
    padding: 0px;
}

.prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
  }
  .prev-button {
    left: 10px;
  }
  .next-button {
    right: 10px;
  }

button {
    display: flex;
    justify-content: center;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.prev-button:hover, .next-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

.close-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

/* Estilo para centralizar o modal */
.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 100px auto;
    height: 100%; /* Garantir que o modal ocupe toda a altura da tela */
}

/* Estilo para o conteúdo do modal */
.modal-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 900px; /* Limite de largura para o modal */
    width: 100%;
    max-height: 80vh; /* Limite de altura para o modal */
    overflow-y: auto; /* Faz o conteúdo rolar se exceder a altura */
}

.modal-title {
    font-size: 1.5rem;
    color: #000;
    margin: 0;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Botão de Fechar */
.modal-header .btn-close {
    background: none;
    border: none;
    color: $textPrimary-color; /* Cor do botão de fechar */
    font-size: 1.5rem;
    opacity: 1;
    cursor: pointer;
}

.modal-header .btn-close:hover {
    opacity: 0.7;
}

/* Estilo para o botão de fechar no modal */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none; /* Remover a linha inferior */
}

/* Modal Body */
.modal-body {
    text-align: center; /* Centraliza o conteúdo dentro do corpo do modal */
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}
/* Para garantir que o modal não ultrapasse a tela */
@media (max-width: 767px) {
    .modal-dialog {
        margin: 20px;
        max-width: 100%;
    }
}

.modal-image {
    display: block; /* Força cada imagem a ser exibida em uma nova linha */
    margin-bottom: 10px; /* Adiciona um pequeno espaço entre as imagens */
    width: 100%; /* Garante que a imagem ocupe toda a largura do contêiner */
  }

  .modal-image-container {
  display: flex;
  flex-direction: column; /* As imagens ficam uma abaixo da outra */
  align-items: center; /* Centraliza as imagens horizontalmente (opcional) */
}
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza o modal */
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 20px 0px 20px 0px; /* Borda arredondada na parte superior esquerda e inferior direita */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1001; /* Garantir que o modal fica acima do overlay */
    width: 40%;
    height: 80%;
    max-width: 50%; /* Tamanho máximo do modal */
    display: block; /* Assegura que o modal seja exibido */
    backdrop-filter: blur(30px);
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    font-size: 2.0rem ;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .modal-header h2 {
    margin: 0;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #000;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
  }
  
  .btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   
  }