<div class="row">
    <div class="col-3"></div>
    <div class="col-6 mt-5" >
        <img style="background-image: url('assets/images/retanguloLinhaDoTempo.png');">
        <aside>Seja bem-vindo ao portal dedicado à celebração dos 50 anos do Curso de Arquitetura e Urbanismo da Universidade Federal do Rio Grande do Norte (CAU-UFRN). O MemoriAU é um espaço para mergulhar na rica trajetória do curso. Uma celebração do passado, mas que serve também de inspiração para o nosso futuro.</aside>
    </div>
    <div class="col-3"></div>
    
    
</div>

<div class="row">
    <div class="col-5"></div>
    <div class="col-2">
        <h1 class="is-size-5 has-text-centered">Linha do tempo</h1>
        <img src="assets/images/linhaDoTempo.png" alt="">
    </div>
    <div class="col-5"></div>
</div>