$textPrimary-color: #B3261E;




.linhaDoTempoInicio{
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.main-timeLine {
    background-color: #F1ECE1;
}

.titleText {
    color: $textPrimary-color;
    font-family: "Sora", sans-serif;
    align-items: center;
    text-align: center;
    
    
}


    .retangulo {
    background-color: #FFFFFF1A;
    border-radius: 1px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0 ,0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #143F7199;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    
    

    @media (min-width: 768px) {
        padding: 40px;
    }

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.retangulo p {
    margin: 0 0 10px;
    font-size: 1.2rem;
    line-height: 1.7;
    font-family: 'Sora', sans-serif;
    font-weight: 300;
    

}

.saiba-mais {
    display: block;
    text-decoration: none;
    margin-top: 10px;
    text-align: right;
    font-family: 'Yantramanav', sans-serif;

}

.saiba-mais:hover {
    text-decoration: underline;
}

.saiba-mais a{
    color: #143F71;

}

.linhaDoTempoFull{
    margin-top: 0px;
}

.timeLine__fundo{
    align-items: center;
    text-align: center;
}

h1 {
    margin-bottom: 0px;
    padding: 0px;
}
button {
    display: flex;
    justify-content: center;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

