<section class="main-timeLine">
    <div class="row">
        <div class="container"> 
            <img src="assets/images/linhaDoTempoInicio.svg" alt="" class="linhaDoTempoInicio">
            <div class="retangulo box has-text centered">
                <p>Seja bem-vindo ao portal dedicado à celebração dos 50 anos do Curso de Arquitetura e Urbanismo da Universidade Federal do Rio Grande do Norte (CAU-UFRN). O MemoriAU é um espaço para mergulhar na rica trajetória do curso. Uma celebração do passado, mas que serve também de inspiração para o nosso futuro.</p>
                <div class="saiba-mais">
                    <a href="#" class="">Saiba mais</a>  
                    <img src="assets/icons/iconeSaibaMais.svg" alt="Ícone Link saber mais">
                </div>
            </div>
        </div>
    </div>

    <h1 class="titleText has-text-centered subtitle is-2">Linha do tempo</h1>
    <div class="timeline-container">
        <div class="row">
            <!-- Coluna Esquerda -->
            <div class="col-md-3 text-end">
                <div *ngFor="let image of imageUmEsquerda; let i = index">
                    <img [src]="image.thumb" (click)="showModal(image)" alt="Abrir modal" class="imagem-esquerda-1">
                </div>
                <div *ngFor="let image of imageDoisEsquerda; let i = index">
                    <img [src]="image.thumb" (click)="showModal(image)" alt="Abrir modal" class="imagem-esquerda-2">
                </div>
                <div *ngFor="let image of imageTresEsquerda; let i = index">
                    <img [src]="image.thumb" (click)="showModal(image)" alt="Abrir modal" class="imagem-esquerda-3">
                </div>
                <div *ngFor="let image of imageQuatroEsquerda; let i = index">
                    <img [src]="image.thumb" (click)="showModal(image)" alt="Abrir modal" class="imagem-esquerda-4">
                </div>
                <div *ngFor="let image of imageCincoEsquerda; let i = index">
                    <img [src]="image.thumb" (click)="showModal(image)" alt="Abrir modal" class="imagem-esquerda-5">
                </div>
                <div *ngFor="let image of imageSeisEsquerda; let i = index">
                    <img [src]="image.thumb" (click)="showModal(image)" alt="Abrir modal" class="imagem-esquerda-6">
                </div>
            </div>
    
            <!-- Coluna Central (Linha do Tempo) -->
            <div class="col-md-6 timeLine__fundo text">
                <img src="assets/images/linhaDoTempo.svg" alt="" class="linhaDoTempoFull">
            </div>
    
            <!-- Coluna Direita -->
            <div class="col-md-3 text-start">
                <div *ngFor="let image of imageUmDireita; let i = index">
                    <img [src]="image.thumb" (click)="showModal(image)" alt="Abrir modal" class="imagem-direita-1">
                </div>
                <div *ngFor="let image of imageDoisDireita; let i = index">
                    <img [src]="image.thumb" (click)="showModal(image)" alt="Abrir modal" class="imagem-direita-2">
                </div>
                <div *ngFor="let image of imageTresDireita; let i = index">
                    <img [src]="image.thumb" (click)="showModal(image)" alt="Abrir modal" class="imagem-direita-3">
                </div>
                <div *ngFor="let image of imageQuatroDireita; let i = index">
                    <img [src]="image.thumb" (click)="showModal(image)" alt="Abrir modal" class="imagem-direita-4">
                </div>
                <div *ngFor="let image of imageCincoDireita; let i = index">
                    <img [src]="image.thumb" (click)="showModal(image)" alt="Abrir modal" class="imagem-direita-5">
                </div>
                <div *ngFor="let image of imageSeisDireita; let i = index">
                    <img [src]="image.thumb" (click)="showModal(image)" alt="Abrir modal" class="imagem-direita-6">
                </div>
                <div *ngFor="let image of imageSeteDireita; let i = index">
                    <img [src]="image.thumb" (click)="showModal(image)" alt="Abrir modal" class="imagem-direita-7">
                </div>
                <div *ngFor="let image of imageOitoDireita; let i = index">
                    <img [src]="image.thumb" (click)="showModal(image)" alt="Abrir modal" class="imagem-direita-8">
                </div>
                <div *ngFor="let image of imageNoveDireita; let i = index">
                    <img [src]="image.thumb" (click)="showModal(image)" alt="Abrir modal" class="imagem-direita-9">
                </div>
                <div *ngFor="let image of imageDezDireita; let i = index">
                    <img [src]="image.thumb" (click)="showModal(image)" alt="Solenidade na Câmara Municipal de Natal" class="imagem-direita-10">
                </div>
            </div>
        </div>
    </div>

    <!-- Contêiner para todos os modais -->
    <div class="modal-container"    >
        <div *ngIf="isModalOpen" class="modal-overlay" (click)="closeModal()"></div>

        <!-- Modal 1 -->
        <div *ngIf="isModalOpen" class="modal">
            <div class="modal-header">
                <h1>{{ currentTitle }}</h1> 
                <button class="close-button" (click)="closeModal()">
                    <img src="assets/icons/buttonClose.svg" alt="Fechar">
                </button>
            </div>

            <div class="modal-body">
                <div class="modal-image-container">
                    <img [src]="currentImageSet[currentImageIndex].src" alt="imagens" class="modal-image">
                    <button class="prev-button" (click)="prevImage()" [disabled]="currentImageIndex === 0">
                        <img src="assets/icons/setaEsquerdaModal.svg" alt="Anterior">
                    </button>
                    <button class="next-button" (click)="nextImage()" [disabled]="currentImageIndex === currentImageSet.length - 1">
                        <img src="assets/icons/setaDireitaModal.svg" alt="Próxima">
                    </button>
                </div>
            </div>

            <div class="modal-footer">
                <p>{{ currentSource }}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <button>
                <img src="assets/images/botaoPadrao.png" alt="">
            </button>
        </div>
        <div class="col-4"></div>
    </div>
</section>
