$textPrimary-color: #B3261E;

.main-timeLine {
    background-color: #F1ECE1;
}

.titleText {
    color: $textPrimary-color;
    font-family: "Sora", sans-serif;
    
}

.retangulo {
    background-color: #FFFFFF1A;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0 ,0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #143F7199;

    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;

    @media (min-width: 768px) {
        padding: 40px;
    }

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.retangulo p {
    margin: 0 0 10px;
    font-size: 1rem;
    line-height: 1.5;
}

.saiba-mais {
    display: block;
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
}

.saiba-mais:hover {
    text-decoration: underline;
}