<main>
   <section class="container__hero">
    <!-- <img src="assets/images/galinheiro2008.png" alt="Imagem do galinheiro do ano de 2008" class="img-fluid w-100"> -->
    <div class="container__hero--text">
        <div class="container__titulo">
            <h1 class="hero-text">MemoriAU</h1>
            <span class="">arquitetura e<br>urbanismo<br>UFRN</span><br> 
        </div> 
        
        <h1 class="years-text is-5">50 anos de <span [ngClass]="{'hide': isHiding}">{{ palavraDinamica }}</span></h1>
    </div>

    <div class="container__hero--box">
        
    </div>
   </section>
    
</main>
