<main>
    <section class="hero">
        <img src="assets/images/galinheiro2008.png" alt="Imagem do galinheiro do ano de 2008" class="hero-image">
        <div class="hero-text-container">
            <h1 class="hero-text">MemoriAU</h1>
            <div class="subtext-container">
                <p class="subtext">arquitetura e</p>
                <p class="subtext">urbanismo</p>
                <p class="subtext">UFRN</p>
            </div>
            <h2 class="years-text">50 anos de <span [ngClass]="{'hide': isHiding}">{{ palavraDinamica }}</span></h2>
        </div>
    </section>
</main>
