<main>
   <section class="container__hero">
    <div class="container__content">
        <div>
            <h1 class="content__titulo--1">Memori<span class="spacer"></span>AU</h1>
        </div>
        <div class="content__titulo--2">
            <span class="line1">arquitetura e</span> 
            <span class="line2">urbanismo</span> 
            <span class="line3">UFRN</span> 
        </div>
        

        <!-- <div class="row container__titulo">
            <div class="col-1"></div>
            <div class="col-8">
                <h1 class="hero-text">MemoriAU</h1>
            </div>
            <div class="col-2">
                <h2 class="hero__subtext">arquitetura e urbanismo<br>UFRN</h2><br>
            </div>
            <div class="col-1"></div>
        </div> 
        
        <h1 class="years-text is-5">50 anos de <span [ngClass]="{'hide': isHiding}">{{ palavraDinamica }}</span></h1> -->
    </div>

    <div class="container__content--subtitle">
        <div>
            <h2 class="content__titulo--3">50 anos de <span [ngClass]="{'hide': isHiding}">{{ palavraDinamica }}</span></h2>
        </div>
    </div>


    <div class="container__hero--box">
        
    </div>
   </section>
    
</main>
