main {
  margin-top: 3%;
  padding-top: 3%;
}

.hero {
  position: relative;
}

.hero-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.overlay-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza o retângulo */
    width: 50%; /* Ajuste o tamanho conforme necessário */
    height: 50%;
    width: 40%;
    padding: 20px;
    background-color: rgba(128, 0, 0, 0.7); /* Cor vermelha com transparência */
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #A23838B2;
    margin-left: 10%;
    z-index: 1;
}

.overlay-text {
    position: absolute;
    font-family: "Sora", sans-serif;;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding-right: 34%;
    padding-top: 10%;
    z-index: 2;

}

.hero-text {
  font-size: 5rem;
  font-weight: bold;
}

.years-text {
  position: absolute;
  font-size: 3rem;
  padding-left: 40%;
  
  .heightlight {
    font-weight: bold;
    
  }
}


.position-relative {
    position: relative; /* Permite posicionar elementos dentro deste container */
    height: 100vh; /* Faz a seção ocupar toda a altura da viewport */
    overflow: hidden; /* Esconde qualquer parte da imagem que ultrapasse o container */
  }
  
  .img-fluid {
    position: absolute; /* A imagem será posicionada em relação ao container */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    width: 100%; /* A imagem ocupará toda a largura */
    height: 60%;
    height: auto; /* Mantém a proporção da imagem */
    transform: translate(-50%, -50%); /* Ajusta a imagem para que fique centralizada */
    object-fit: cover; /* Faz com que a imagem preencha o container, cortando o que não couber */
  }
  
  .overlay {
    position: absolute; /* Posiciona o texto sobre a imagem */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a posição para centralizar */
    z-index: 1; /* Coloca o texto acima da imagem */
  }
  
  .text-white {
    color: rgb(27, 25, 25); /* Define a cor do texto como branca */
  }


// .hero {
//     position: relative;
//     text-align: center;
    
// }

// html {
//     width: 100%;
//     margin: 0;
// }

// .hero-image {
//     width: 100%;
//     height: auto;
    
    
// }

// .hero-text-container {
//     position: absolute;
//     top: 30%;
//     left: 50%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

// .hero-text {
//     font-family: "Sora", serif;
//     font-size: 96px;
//     position: absolute;
//     width: 684.71px;
//     height: 86px;
//     color: white;
//     transform: translate(-40%, 100%);
//     font-size: 6rem;
// }

// .subtext-container {
//     text-align: center;
//     transform: translate(40%,70%);

// }
// .subtext {
//     color: white;
//     font-size: 1.5rem;
// }

// .years-text {
//     color: white; /* Cor do texto */
//     font-size: 2rem; /* Tamanho da fonte menor para "50 anos de história" */
//     text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Sombra para melhorar a legibilidade */
//     transform: translate(0%, 250%);
//     font-size: 2.5rem;
//     display: inline-block;
    

//   }

// .years-text span {
//     transition: opacity 8.0s ease-in-out;
//     opacity: 1;
//   }