<header>
  <nav class="navbar py-0 ">
    <div class="navbar-brand py-0">
      <a href="" class="navbar-item  p-0">
        <img src="assets/images/logoAU.png" alt="Logo do curso" class="p-0 pl-2" style="max-height: 85px">
      </a>
    </div>

    <a role="button" class="navbar-burger pr-4 mr-4" aria-label="menu" aria-expanded="false" data-target="nav-links" (click)="toggleBurgerMenu()" style="margin-left: auto;">
      <span></span>
      <span></span>
      <span></span> 
      <span></span>
    </a>

    <div [ngClass]="{'is-active': isBurgerOpen}" class="navbar-menu pr-4 mr-4" id="nav-links">
      <div class="navbar-end">
        <a href="" class="navbar-item">Linha do tempo</a>
        <a href="" class="navbar-item">Sobre</a>
        <a href="" class="navbar-item">Dados do curso</a>

        <div class="navbar-item has-dropdown" 
        [ngClass]="{'is-active': isDropdownOpen}" (mouseenter)="toggleDropdown(true)" (mouseleave)="toggleDropdown(false)">
          <a href="" class="navbar-link" (click)="toggleDropdown()">Vida acadêmica</a>

          <div class="navbar-dropdown" *ngIf="isDropdownOpen">
          <a class="navbar-item">
            EMAU,APAU e Edifique
          </a>
          <a class="navbar-item">
            Laboratórios
          </a>
          <a class="navbar-item">
            Grupos e bases de pesquisa
          </a>
          <!-- <hr class="navbar-divider"> -->
          <a class="navbar-item">
            Eventos
          </a>
          <a class="navbar-item">
            Premiações
          </a>
        </div>
      </div>  
        <a href="" class="navbar-item">Depoimentos</a>
        <a href="" class="navbar-item">Faça parte</a>
      </div>
    </div>

  </nav>
  </header>