$textoNavbar-color: #143F71;
$backgroundNavbar-color: #FFFFFFC2;

.navbar-dropdown {
  transition: opacity 0.3s ease;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 85px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  
}

.navbar-menu {
  background-color: rgba(255, 255, 255, 0.8);
  font-family: "Montserrat", sans-serif;
  color:#031222;
  background-color: $backgroundNavbar-color;

  
}
.navbar-burger {
  margin-left: auto;
}

.navbar-menu {
  right: 0;
  left: auto;
}

.navbar-item, .navbar-link{
  color: $textoNavbar-color;
}


@media (max-width: 767px) {
  
  .navbar-item{
    width: 80vw;
    padding-left: 0;
  }
    
  .navbar-item img{ 
    padding-left: 0;
  }

  
}