<header>
   <div class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item">
          <img src="assets/images/logoAU.png" alt="Logo do curso" class="mx-5" >
        </a>
      </div>
   </div>


    <!-- <nav> 
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <img src="assets/images/logoAU.png" alt="Logo do curso" class="mx-5" >
          <div class="col-md-5">
          <ul>
            <li><a href="#">Linha do tempo</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Dados do curso</a></li>
            <li><a href="#">Vida acadêmica</a></li>
            <li><a href="#">Depoimentos</a></li>
            <li><a href="#">Faça parte</a></li>
        </ul>
        </div>
        </div>
      </div>
    </nav> -->
  </header>