header {
    background-color: #f9f9f9;
    padding: 10px;
  
    .news-bar {
      background-color: #e9ecef;
      color: #333;
      padding: 10px;
      font-size: 0.9rem;
      border-bottom: 1px solid #ccc;
      
      p {
        margin: 0;
        display: flex;
        justify-content: space-between;
      }
  
      a {
        color: red; /* Cor de destaque para o link */
        text-decoration: underline;
      }
    }
  
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
  
      img {
        max-width: 150px;
      }
  
      ul {
        list-style: none;
        display: flex;
        gap: 20px;
  
        li a {
          text-decoration: none;
          color: #333;
          font-weight: bold;
        }
      }
    }
  }
  