<header>
    <div class="news-bar">
      <p>
        <strong>Notícia: </strong> "50 anos do curso de Arquitetura e Urbanismo da UFRN: Uma história de inovação e compromisso."
        <a href="#">Saiba mais</a>
      </p>
    </div>
    <nav>
      <img src="assets/images/logoAU.png" alt="Logo do curso">
      <ul>
        <li><a href="#">Linha do tempo</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Dados do curso</a></li>
        <li><a href="#">Vida acadêmica</a></li>
        <li><a href="#">Depoimentos</a></li>
        <li><a href="#">Faça parte</a></li>

    </ul>
    </nav>
  </header>