<main>
    <section class="container__hero">
        <div class="container__infoDados">
            <div class="infoDados--left">
                <h1 class="infoDados--curso">Dados do curso</h1>
                <h2 class="infoDados--number">1297</h2>
                <h3 class="infoDados--p">Total de diplomas de graduação emitidos</h3>
            </div>
            <div class="infoDados--right">
                <h2 class="ativos--number">215</h2>
                <h3 class="ativos--p">Alunos ativos</h3>
            </div>
        </div>

        <div class="container__infoDocentes">
            <div class="infoDocentes--left">
                <h2 class="infoDocentes--docentes">Docentes</h2>
            </div>
            <div class="infoDocentes--center">
                <h2 class="docentes--number">33</h2>
                <h3 class="docentes--p">Professores eletivos</h3>
            </div>
            <div class="infoDocentes--right">
                <h2 class="docentes--number">3</h2>
                <h3 class="docentes--p">Professores substitutos</h3>
            </div>
        </div>
        
        <div class="container__infoFuncionarios" >
            <div class="infoFuncionarios--left">
                <h2 class="funcionarios--h">Servidores, técnicos<br> e administrativos</h2>
            </div>
            <div class="infoFuncionarios--right" >
                <h2 class="funcionarios--number">6</h2>
                <h3 class="funcionarios--p">Funcionários DARQ e CAU</h3>
            </div>
        </div>
    </section>
</main>