.container__hero {
  height: 100vh;
  background-image: url("/assets/images/galinheiro2008.webp");
  background-size: cover;
  background-position: center -90%;
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

.container__content {
  display: flex;
  position: absolute;
  font-family: "Sora", sans-serif;;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  padding-right: 34%;
  padding-top: 10%;
  margin-left: 22rem;
  margin-top: 6rem;
  z-index: 2;
  // border: 3px solid orange;

}

.container__content--subtitle{
  display: block;
  position: absolute;
  text-align: center;
  margin-top: 15rem;
  margin-left: 7rem;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 300;
  top: 50%;
  left: 50%;
  color: white; 
  // border: 3px solid orange;
  z-index: 2;
}
.content__titulo--3{
  font-size: 3rem;
  // border: 3px solid green;
  margin-bottom: 16px;
  margin: 15px;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 300;
  
}


.content__titulo--1{
  
  margin-bottom: 1vw;
  margin: 1vw;
  font-family: 'Sora', sans-serif;
  font-size: 6rem;
  font-weight: bold;
  margin-left: 2rem;
  
}
.spacer {
margin-left: 15px;
}

.content__titulo--2{
  display: flex;
  flex-direction: column;
  align-items: flex-start ;
  text-align: left;
  // border: 3px solid green;
  margin: 0;
  margin: 15px;
  
}

.line1, .line2, .line3{
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 300;
  white-space: nowrap;
}






.hero {
  position: relative;
}

.hero-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.container__hero--box {
    position: relative;
    top: 65%;
    left: 55%;
    transform: translate(-30%, -60%); /* Centraliza o retângulo */
    width: 50%; /* Ajuste o tamanho conforme necessário */
    height: 50%;
    width: 35%;
    padding: 10%;
    background-color: rgba(128, 0, 0, 1); /* Cor vermelha com transparência */
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #A23838B2;
    margin-left: 10%;
    z-index: 1;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}



.hero-text {
  font-size: 7rem;
  font-weight: bold;

}

.hero__subtext{
  font-family: 'Yantramanav', sans-serif;
  font-weight: 300;
  font-size: 26px;
  text-align: left;
  

}

.years-text {
  position: absolute;
  font-size: 3rem;
  padding-left: 40%;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 300;

  
  .heightlight {
    font-weight: bold;
    
  }
}

.container__hero {
    position: relative; /* Permite posicionar elementos dentro deste container */
    height: 100vh; /* Faz a seção ocupar toda a altura da viewport */
    overflow: hidden; /* Esconde qualquer parte da imagem que ultrapasse o container */
  }
  
  .img-fluid {
    position: absolute; /* A imagem será posicionada em relação ao container */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    width: 100%; /* A imagem ocupará toda a largura */
    height: 60%;
    height: auto; /* Mantém a proporção da imagem */
    transform: translate(-50%, -50%); /* Ajusta a imagem para que fique centralizada */
    object-fit: cover; /* Faz com que a imagem preencha o container, cortando o que não couber */
  }
  
  .overlay {
    position: absolute; /* Posiciona o texto sobre a imagem */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a posição para centralizar */
    z-index: 1; /* Coloca o texto acima da imagem */
  }
  
  .text-white {
    color: rgb(27, 25, 25); /* Define a cor do texto como branca */
  }


  .container__titulo{
      justify-content: space-between;
      align-items: center;
    // width: 100%;
    // padding: 10px 20px;
    // margin-left: 17rem;
    // margin-top: 12rem;

  }
  .subtext{
    float: left;
    margin-left: 60rem;
  }

    @media (max-width: 767px) {

      .container__hero {
        height: 75vh;
        background-size: cover;
        background-position: 40%  90%;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
        object-position: center center;
        // background-repeat: no-repeat;
        
      }

    
      .container__hero--box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-10%, -30%); /* Centraliza o retângulo */
        width: 50%; /* Ajuste o tamanho conforme necessário */
        height: 25%;
        width: 40%;
        padding: 20px;
        background-color: rgba(128, 0, 0, 0.7); /* Cor vermelha com transparência */
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
        background-color: #A23838B2;
        margin-left: 10%;
        z-index: 1;
    }

    .content__titulo--1{
      display: flex;
      position: relative;
      text-align: left;
      margin-bottom: 0px;
      margin: 15px;
      font-family: 'Sora', sans-serif;
      font-size: 2rem;
      font-weight: bold;
      margin-right: 0rem;
      top: -25%;
      left: 30%;
      
    }

    .content__titulo--2{
      display: flex;
      flex-direction: column; /* Para alinhar os itens verticalmente */
      align-items: flex-start; /* Alinhar o conteúdo ao centro */
      text-align: left; /* Certificar-se de que o texto será centralizado */
      padding-bottom: 7vh; /* Remover margens que podem estar deslocando o conteúdo */

    }

    .line1, .line2, .line3 {
      font-size: 1.1rem; /* Ajuste o tamanho da fonte para garantir que o texto seja visível */
      white-space: nowrap; /* Evitar que o texto quebre em várias linhas */
      margin-bottom: 0px; /* Adiciona espaço entre os spans */
      margin-right: 38rem;
      top: 20%;
      left:20%;
      
    }
  
    .container__content--subtitle{
      display: flex;
      position: relative;
      text-align: left;
      margin-top: 10rem;
      margin-left: 0rem;

      margin-right: 0rem;
      font-family: 'Yantramanav', sans-serif;
      font-weight: 300;
      top: 47%;
      left: 20%;
      color: white; 
      z-index: 2;
    }
    
    .content__titulo--3{
      font-size: 1.5rem;
    }
  
    .container__content{
      top: 48%;
      left: 50%;
      

    }
  }